.mat-stepper-horizontal {
    margin-top: 8px;
  }
  .books{
    font-size:20px;
    margin-bottom: 10px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .navbar{
      justify-content: space-between;
  }

  span{
      padding-right: 20px;
  }
mat-sidenav-container {
    height:100%;
  }
  mat-sidenav , mat-sidenav-content{
    padding:10px;
}
  mat-sidenav{
      background-color:rgb(221, 221, 208);
      width:200px;
  }
  -------------------
  .demo-table {
    width: 500px;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
    padding-right: 24px;
  }
  
  .mat-column-demo-Author {
    font-style: italic;
    padding-right: 24px;
  }
  
  .mat-column-demo-Country {
    width: 32px;
    text-align: center;
    font-weight: bold;
    padding-right: 24px;
  }
